{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
URLShortener -- Shorten your URL
{%  endblock %}

{% block content %}
    {% if not short_url %}
    <section>
        <h1>Shorten your URL</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.url, size=100) }}

                <tr class="submit">
                    <td></td>
                    <td><button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
    {% else %}
    <section>
      <p> your original URL is:  {{ original_url }} </p>
      <p> your shortened URL is: <a href="{{short_url}}"> {{short_url}}</a></p>
    </section>
    {% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}
